* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
a {
    text-decoration: none;
    color: var(--clTextbar);
}


/*************************Header**************************/

/* NavBar */
.header__navBar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0.0625rem 2.125rem 0 rgb(0 0 0 / 11%);
    height: 60px;
}

.header__logoBrand {
    display: flex;
    width: 20%;
    padding: 12px 12px 12px 40px;
    font-family: 'FontAwesome';
    font-size: 30px;
    font-weight: bolder;
    background-image: linear-gradient(to right, #D980FA, #833471, #6F1E51);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.header__itemsRight {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.header__itemsNavbar {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    font-family: monospace;
}

.header__itemMenu {
    width: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-right: 40px;
    display: none;

}

.header__itemMenu:active,
.header__logoBrand:active,
.header--items:active {
    color: var(--clNavBar);
}

/* MAIN */

.section {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.section .noi-dung {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.section .noi-dung .form {
    width: 50%;
}

.section .noi-dung .form h2 {
    color: #607d8b;
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #e42a40;
    display: inline-block;
    letter-spacing: 1px;
}

.section .noi-dung .form .input-form {
    margin-bottom: 20px;
}

.section .noi-dung .form .input-form span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607db8;
    letter-spacing: 1px;
}

.section .noi-dung .form .input-form span .red {
    color: red;
}

.section .noi-dung .form .input-form input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

.section .noi-dung .form .input-form button {
    width: 100%;
    border-radius: 22px;
}

.section .noi-dung .form .input-form input[type="submit"] {
    background: #641cc2;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.section .noi-dung .form .input-form input[type="submit"]:hover {
    background: #3f36f5;
}

.section .noi-dung .form .accept {
    margin-bottom: 10px;
    color: #607d8b;
    font-size: 14px;
}

.section .noi-dung .form .accept a {
    color: #21d575;
    cursor: pointer;
}

.section .noi-dung .form .input-form p {
    color: #607d8b;
}

.section .noi-dung .form .input-form p a {
    color: #22daee;
}

.section .noi-dung .form h3 {
    color: #607d8b;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}

.section .noi-dung .form .icon-dang-nhap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .noi-dung .form .icon-dang-nhap li {
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .noi-dung .form .icon-dang-nhap li:nth-child(1) {
    color: #3b5999;
}

.section .noi-dung .form .icon-dang-nhap li:nth-child(2) {
    color: #dd4b39;
}

.section .noi-dung .form .icon-dang-nhap li:nth-child(3) {
    color: #55acee;
}

.section .noi-dung .form .icon-dang-nhap li i {
    font-size: 24px;
}
/***************** Responsive */

@media (max-width: 1280px) {
    .header__navBar {
        height: fit-content;
    }
    .header__logoBrand {
        width: 25%;
        text-align: center;
        padding: 10px;
        font-size: 25px;
    }
    .header__itemsRight {
        width: 100%;
    }
    .header__itemsNavbar {
        width: 60%;
        font-size: 22px;
    }
    a {
        padding: 2px;
    }
    .header__itemMenu {
        font-size: 22px;
        margin-left: 8px;
        margin-right: 20px;
        display: grid;
    }
}

/* Tablet */
@media (max-width: 1023px) {
    .header__navBar {
        height: fit-content;
    }
    .header__logoBrand {
        width: 25%;
        font-size: 25px;
        text-align: center;
        padding: 5px;
    }
    .header__itemsRight {
        width: 100%;
    }
    .header__itemsNavbar {
        width: 90%;
        font-size: 22px;
    }
    a {
        padding: 2px;
    }
    .header__itemMenu {
        font-size: 22px;
        margin-left: 8px;
        margin-right: 20px;
        display: grid;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .header__navBar {
        height: fit-content;
    }
    .header__logoBrand {
        width: 25%;
        font-size: 12px;
        text-align: center;
        padding: 5px;
    }
    .header__itemsRight {
        width: 100%;
    }
    .header__itemsNavbar {
        width: 90%;
        font-size: 13px;
    }
    a {
        padding: 2px;
    }
    .header__itemMenu {
        font-size: 10px;
        margin-left: 8px;
        margin-right: 10px;
        display: grid;
    }
}

@media (max-width: 768px) {
    section .img-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .section .noi-dung {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        left: 0px;
        z-index: 1;
    }
    section .noi-dung .form {
        width: 100%;
        padding: 40px;
        background: rgba(255 255 255 / 0.9);
        margin: 50px;
    }
    .section .noi-dung .form .input-form input {
        width: 200px;
        padding: 10px 20px;
        outline: none;
        border: 1px solid #607d8b;
        font-size: 16px;
        letter-spacing: 1px;
        color: #607d8b;
        background: transparent;
        border-radius: 30px;
    }
    section .noi-dung .form h3 {
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
    .btn {
        left: 80%;
    }
}
